<!DOCTYPE html>
<html>
<head>
   <title>Lu2 - Ludo for 2</title>
   <link rel="stylesheet" href="stylesheets/splash.css" />
   <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<div id="warning">SCREEN TOO SMALL TO PLAY</br>MIN: 600x700</div>

<body><img src="images/logo.jpg">
   <main>
      <form action="game.html" method="get">
         <p><button id="joingame" type="submit">Play</button></p>
         <p><button id="rules" type="button">Rules</button></p>
      </form>
      <div class="grid-container">
         <!--  %= output the value into the template in HTML escaped form (i.e. for variable output) -->
         <!--  %- output the value into the template in unescaped form (can lead to injection attacks) -->
         <!--  %  scriptlet tag for control-flow purposes (in javascript) -->
         <div><%= gamesInitialized%><%if (gamesInitialized != 1) {%> games <%} else {%> game <%} %>started</div>
            <div><%= onlinePlayersCount%> online<%if (onlinePlayersCount != 1) {%> players<%} else {%> player<%} %></div>
            <div><%= gamesCompleted%><%if (gamesCompleted != 1) {%> games <%} else {%> game <%} %>completed</div>
   </main>
   <script>

      var cookiesArray = document.cookie.split('; ');
      var cookie = cookiesArray[0].split("=");

      if (cookie[0]=="user_firstname") {
         var dot = cookie[1].indexOf('.');
         var name = cookie[1].substr(4,dot-4);
         
         //local storage demo
         localStorage.setItem('time', new Date); //login date
         let time = localStorage.getItem('time'); //retrieve an item with a specific key

         alert('Hi ' + name + ' the time is ' + time);
                  
         //delete a cookie by RESETTING the expiration date
         //document.cookie = "user_firstname=" + cookie[1] + "; expires=Fri, 24-Jan-1970 12:45:00 GMT";
         localStorage.removeItem('time'); //remove an item
      }

   </script>
</body>
</html>