<!DOCTYPE html>
<html>
<head>
   <title>Lu2 - Ludo for 2</title>
   <link rel="stylesheet" href="stylesheets/splash.css" />
   <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<div id="warning">SCREEN TOO SMALL TO PLAY</br>MIN: 600x700</div>

<body><img src="images/logo.jpg">
   <main>
      <form action="game.html" method="get" onsubmit="setName()">
         <p><input type ="text" id="user_nickname" placeholder="Play as..."></input>&nbsp;<button id="joingame" type="submit">Play</button></p>
         <p><button id="rules" type="button">Rules</button></p>
      </form>
      <div class="grid-container">
         <!--  %= output the value into the template in HTML escaped form (i.e. for variable output) -->
         <!--  %- output the value into the template in unescaped form (can lead to injection attacks) -->
         <!--  %  scriptlet tag for control-flow purposes (in javascript) -->
         <div><%= gamesInitialized%><%if (gamesInitialized != 1) {%> games <%} else {%> game <%} %>started</div>
         <div><%= onlinePlayersCount%> online<%if (onlinePlayersCount != 1) {%> players<%} else {%> player<%} %></div>
         <div><%= gamesCompleted%><%if (gamesCompleted != 1) {%> games <%} else {%> game <%} %>completed</div>
      </div>   
   </main>
   <script>
      function setName(){
         document.cookie = "user_nickname=" + document.getElementById("user_nickname").value; //to remove: + "; expires=Fri, 24-Jan-1970 12:45:00 GMT";
      }
      //get user name
      var cookiesArray = document.cookie.split('; '); //does not include session id
      let user = undefined;

      for (i = 0; i < cookiesArray.length; i++) {
         var cookie = cookiesArray[i].split("=");
         if (cookie[0] == "user_nickname") {
            var dot = cookie[1].indexOf('%40'); //code for @
            //allow for unsigned, unregistered usernames
            if (dot != -1) {
                  user = cookie[1].substr(4, dot - 4);
            } else {
                  user = cookie[1];
            }
            document.getElementById("user_nickname").value = user; 
         }
      }

      //local storage demo
      let visited = localStorage.getItem('visited'); 
      if (!visited && user){
         alert('Welcome back ' + user); //only greet after the first login
         localStorage.setItem('visited', true);
      }
      


   </script>
</body>
</html>